
/*
==================================================================
Elements 
==================================================================
*/



h1{
  font-size: 3rem;
}

h1, h6{
  text-align: center;
  margin: 1%;
}

h1, h3{
  color: white;
}

h3{
  font-size: 2rem;
  font-weight: normal;
}

h4 {
  font-size: 1.2rem;
  margin: 0px;
}

body{
  background: linear-gradient(45deg, #3c91e7 0, #78378c 100%);
}

@media screen and (min-width: 1366px) {
  h1{
    font-size: 5rem;
  }
  h3{
    font-size: 2em;
  }
}

/*
==================================================================
Containers 
==================================================================
*/

#app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 100%;
}

div.messanger{
  background-color: honeydew;
  display: block;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  height: 55%;
  min-width: 30%;
}

@media screen and (min-width: 1366px) {
  div.messanger{
    min-width: 30%;
    max-width: 70%;
  }
}

.date-and-time{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 100%;
}

div.date-picker-box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 80%;

}

.form, .message-body, .message-recipient{
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center;
  min-width: 100%;
}

.form{
/*  min-height: 60%;
*/  height:100%;
}

 .modal-container {
   position: relative;
 }
 .modal-container .modal, .modal-container .modal-backdrop {
   position: absolute;
 }


/*
==================================================================
Content 
==================================================================
*/

.body, .to {
  width: 90%;
  border: 1px solid;
  border-radius: 5px;
}

textarea.body{
  height: 30%;
}

.send{
  display: block;
  background-color: orange;
  width: 80%;
  height: 10%;
  margin-top: 8%;
  padding: 2%;
  border-radius: 5px;
}

.send:hover{
  background-color: honeydew;
  cursor: pointer;
}


/*
==================================================================
Widgets 
==================================================================
*/

.date-picker, .rc-time-picker{
  display: inline-block;
}

input.date-picker, input.rc-time-picker-input{
  height: 10%;
  width: 100%;
}

.date-picker{
  border-radius: 5px;
  border: 1px solid;
  text-align: center;
}

div.react-datepicker-wrapper{
  width: 80%;
}

.react-datepicker{
  font-size: 15px;
}

.react-clock, .react-date-picker, .rc-time-picker{
  display: flex;
  justify-content: center;
}

.react-clock__face{
  background-color: white;
}


.react-date-picker__button{
  width: 90%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  background: white;
}

.react-date-picker__button__icon{
  display:none;
}

.react-date-picker__button__input{
  display: flex;
  justify-content: center;
}

 .rc-time-picker{
  width: 80%;
 }

 .rc-time-picker-input{
  width: 80%;
  text-align: center;
  height: 7%;
  border: 1px solid black;
  border-radius: 5px;
 }

 .button{
  width: 90%;
 }

